<div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">
  <div>
    <a href="/">
      <app-logo size="20" class="w-20 h-20"></app-logo>
    </a>
  </div>

  <div class="w-full sm:max-w-md my-6 bg-white shadow-md overflow-hidden sm:rounded-lg">
    <div class="px-6 py-4">
      <div class="mb-4 text-sm text-gray-600">
        Forgot your password? No problem. Just let us know your email address and we will email you a password reset
        link that will allow you to choose a new one.
      </div>

      <!-- Session Status -->

      <!-- Validation Errors -->
      <div *ngIf="errors" class="bg-yellow-500 bg-opacity-10 border-0 rounded-md px-4 py-3 my-3 text-yellow-800">
        <div class="flex">
          <div class="text-yellow-500">
            <svg class="w-7 h-7 mr-4" fill="currentColor" stroke="white" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z">
              </path>
            </svg>
          </div>
          <div>
            <p class="font-medium">Whoops! Something went wrong.</p>
            <p *ngFor="let error of errors" class="text-sm my-2">
              <span>{{ error }}</span>
            </p>
          </div>
        </div>
      </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!-- Email Address -->
        <div>
          <label class="block font-medium text-sm text-gray-700" for="email">
            Email
          </label>

          <input
            class="rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 block mt-1 w-full"
            id="email" type="email" name="email" ngModel required autocomplete #email="ngModel">
        </div>

        <div class="flex items-center justify-end mt-4">
          <button
            class="text-xs px-4 py-2 inline-flex items-center justify-center rounded-md font-semibold uppercase tracking-widest focus:outline-none disabled:opacity-25 transition ease-in-out duration-150 bg-gray-800 hover:bg-gray-700 active:bg-gray-900 focus:border-gray-900 focus:ring ring-gray-300 border border-transparent text-white hover:shadow-lg"
            type="submit" [disabled]="f.invalid">
            Email Password Reset Link
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
