<div class="min-h-screen h-full px-4 py-8 bg-indigo-500 text-white border-r hidden sm:block">
  <div class="flex flex-row space-x-1 justify-center">
    <div>
      <app-logo size="9" class="w-9 h-9"></app-logo>
    </div>
    <div *ngIf="!isShort">
      <h2 class="text-3xl inline-block font-semibold">Store</h2>
    </div>
  </div>
  <div>
    <div class="my-3">
      <h2 *ngIf="!isShort" class="text-sm font-semibold tracking-widest uppercase text-center">
        Main
      </h2>
      <hr>
    </div>
    <div>
      <a class="flex items-center px-4 py-2 my-2 rounded-md hover:text-gray-700 hover:bg-gray-200 transition duration-150 ease-in-out"
        routerLink="" routerLinkActive="active">
        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19 11H5M19 11C20.1046 11 21 11.8954 21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V13C3 11.8954 3.89543 11 5 11M19 11V9C19 7.89543 18.1046 7 17 7M5 11V9C5 7.89543 5.89543 7 7 7M7 7V5C7 3.89543 7.89543 3 9 3H15C16.1046 3 17 3.89543 17 5V7M7 7H17"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <span *ngIf="!isShort" class="mx-4 font-medium">Dashboard</span>
      </a>
    </div>


    <div>
      <a class="flex items-center px-4 py-2 my-2 rounded-md hover:text-gray-700 hover:bg-gray-200 transition duration-150 ease-in-out"
        href="#">
        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15 5V7M15 11V13M15 17V19M5 5C3.89543 5 3 5.89543 3 7V10C4.10457 10 5 10.8954 5 12C5 13.1046 4.10457 14 3 14V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V14C19.8954 14 19 13.1046 19 12C19 10.8954 19.8954 10 21 10V7C21 5.89543 20.1046 5 19 5H5Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <span *ngIf="!isShort" class="mx-4 font-medium">Notes</span>
      </a>
    </div>

    <div>
      <a class="flex items-center px-4 py-2 my-2 rounded-md hover:text-gray-700 hover:bg-gray-200 transition duration-150 ease-in-out"
        href="#">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2">
          </path>
        </svg>
        <span *ngIf="!isShort" class="mx-4 font-medium">Accounts</span>
      </a>
    </div>
    <div class="my-3">
      <h2 *ngIf="!isShort" class="text-sm font-semibold tracking-widest uppercase text-center">
        Auth
      </h2>
      <hr>
    </div>
    <div>
      <a class="flex items-center px-4 py-2 my-2 rounded-md hover:text-gray-700 hover:bg-gray-200 transition duration-150 ease-in-out"
        href="#">
        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <span *ngIf="!isShort" class="mx-4 font-medium">Users</span>
      </a>
    </div>
  </div>
  <div class="mt-3 mb-6"></div>
  <div class="flex justify-center">
    <button (click)="toggleShort()" class="inline-flex items-center justify-center p-2 bg-white bg-opacity-25 rounded-full h-10 w-10 ">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path *ngIf="isShort" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        <path *ngIf="!isShort" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
  </div>
</div>
