.mat-expansion-panel {
  box-shadow: 0 0 #0000;
}

@media (prefers-color-scheme: dark) {
  .mat-toolbar {
    background-color: #111827;
    color: white;
  }

  .mat-expansion-panel,
  .mat-list-base .mat-list-item,
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description,
  .mat-expansion-indicator::after,
  .mat-expansion-indicator {
    color: white;
    background-color: #1f2937;
  }
}
