<mat-toolbar class="justify-center">Menu</mat-toolbar>
<mat-nav-list>
  <mat-accordion >
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-sm font-semibold uppercase">
          main
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a mat-list-item routerLink="" routerLinkActive="active">Dashboard</a>
        <a mat-list-item routerLink="/note/list" routerLinkActive="active">Note</a>
        <a mat-list-item routerLink="" routerLinkActive="active">Link 3</a>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-sm font-semibold uppercase text-center">
          Personal info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
